/* gets image to fit page of browser */
body, html {
    height: 100%;
  }
  /*end */

  /* background image for entire page */
  .bgimg {
    background-image: url("https://images.pexels.com/photos/2796105/pexels-photo-2796105.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    opacity: .9;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

 /* back to home page button */
body nav a {
  color: white;
}

body nav .button {
  color: white;
  float: right;
  padding: 20px;
  font: "Roboto Slab";
  font-size: smaller;
}

body nav .button:hover{
  transition: all .2s ease-in-out;
  transform: scale(1.1);
  color: #f0ab5d;
  font-size: medium;
}
/* end home page button */

/* Title of the page "Favorites */
  .caption {
      padding: 100px 0px 0px;
      width: 100%;
      display: block;
      text-align: center;
  }

  .caption span.border {
      color: white;
      padding: 20px;
      font-family: 'Roboto Slab';
      font-size: 50px;
      letter-spacing: 3px;
  }
/* end of title */

main {
  color: white;
  margin: 5px 15%;
  border-radius: 10px;
  background-color: black;
  opacity: 92%;
}

h1 {
  margin: 30px 0px 15px;
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: 200;
}