:root {
    --main-orange: #f0ab5d;
    --accent-grey: #55534d;
    --font: "Roboto Slab";
    --cardcolor: #D5DBD7;
  }
/* root variables for theme ^ */

/* modal start */
.modal-box {
    position: relative;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .noBtn {
      margin-left: 20px;
  }
  

/* saying that the page will be using flexbox */
main {
    display: flex;
    padding: 40px;
}

main section {
    width: 48%
}


/* header css start  */
header{
    width: 100vw;
    height: 140px;
    font-family: 'Luckiest Guy', cursive;
    background-color: #f0ab5d;
}

header .inside{
    width: 1300px; 
    height: 100%;
    display: block;
    margin: 0 auto;
}

header .logo{
    display: table;
    height: 100%;
    float: left;
}

header .logo div{
    height: 200%;
    display: table-cell;
    vertical-align: bottom;
    font-size: xxx-large;
    
}
/* this is for the favorites button */
header nav{
    float: right;
    height: 100%;

}

header nav li{
    display: flex;
    height: 100%;
    float: left;
    margin-right: 30px;
    align-items: flex-end;
    justify-content: center;

}

header nav li:last-of-type{
    margin-right: 0;
}

header nav span {
    display: table-cell;
    vertical-align: text-bottom;
}

header nav a{
    color: #101010;
}

header nav .button{
    background-color: #f0ab5d; 
    color: #101010;
    
}

header nav .button:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.1);
    color: #101010;
    font-size: large;
}

/* end header css */


/* label for search buttons (search here for drink) */
label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #55534d;
    font-weight: 700;
    font: "Roboto Slab";
}
/* end label */


/* search box css start */
.searchField {
    width: 95%;
    margin: 5px 2.5%;
}
/* search box css end */


/* search button css start */
.search-border {
    box-shadow: inset 0 0 0 4px #55534d;
    color: #55534d;
    transition: color 0.25s 0.0833333333s;
    position: relative;
    width: 95%;
    margin: 5px 2.5%;
}

.search-border::before, .search-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}
.search-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}
.search-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
  }
  .search-border:hover {
    color: #f0ab5d;
  }
  .search-border:hover::before, .search-border:hover::after {
    border-color: #f0ab5d;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  .search-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
  }
  .search-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
  }
  
  .btn0 {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem "Roboto Slab", sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
  }
  .btn0:focus {
    outline: 2px dotted #3a3f3f;
  }
/* search button css end */

  /* footer css start */
  .row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

ul {
	list-style: none;
    padding-bottom: 5px;
    padding-top: 5px;
}


li {
    font-size: medium;
}

/* Drink Display Cards */

.drinkCardCont,

.barCardCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.drinkCard,
.barCard {
    margin: 3px;
    width: 27%;
    background-color: var(--cardcolor);
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
}

.drinkCard:hover,
.barCard:hover {
    background-color: var(--main-orange);
    /* color: white; */
    transform: scale(1.03);
    transition: all 1s ease;
}

h2 {
    margin-top: 5px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 20px;
}

img {
    height: auto;
    width: auto;
    max-width: 229px;
    max-height: 229px;
    margin-bottom: 3px;
    /* background-size: cover; */
    margin: 3px 3px 0px 3px;
    width: 48%;
    background-color: var(--cardcolor);
    position: relative;

}

.barCard a {
    font-family: 'Luckiest Guy', cursive;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
    color:black;
    margin-top: 5px;
}

.barCard img {
    height: auto;
    width: auto;
    max-width: 413px;
    max-height: 229px;
    margin-bottom: 3px;
}

p { 
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

.barCard button {
    display: block;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0px 1px;
    position: absolute;
    bottom: 2px; right: 2px;
}

/* Footer */

.footer {
	background-color: #656461;
	padding: 50px 0;
	width: 100%;
    margin-top: 250px
}

.footer-col {
	width: auto;
	padding: 0 100px;
	display: block;
	justify-content: center;
}

/* Group Members */
.footer-col h4 {
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
	font-family: 'Poppins', sans-serif;

}
/* orange line underneathe names */
.footer-col h4::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #F0AB5D;
	height: 2px;
	width: 50px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	position: relative;
	transition: all 0.3s ease;
}

/* hover effect for links */
.footer-col ul li a:hover {
	color: #ffffff;
	padding-left: 8px;
}

/*responsive*/
@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}


